<div class="container ibc-menu hidden-xs">
    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="{{ 'about' | page }}">Giới thiệu</a></li>
                <li role="presentation"><a href="{{ 'events' | page }}">Events</a></li>
                <li role="presentation"><a href="#">Connect the flow</a></li>
                <li role="presentation"><a href="{{ 'tuyendung' | page }}">Tuyển dụng</a></li>
                <li role="presentation"><a href="{{ 'tailieu' | page }}">Tài liệu</a></li>
                <li role="presentation"><a href="#">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</div>
