<div class="container ibc-menu">
    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="#">Về chúng tôi</a></li>
                <li role="presentation"><a href="#">Event</a></li>
                <li role="presentation"><a href="#">Connect the flow</a></li>
                <li role="presentation"><a href="#">Tuyển dụng</a></li>
                <li role="presentation"><a href="#">Tài liệu</a></li>
                <li role="presentation"><a href="#">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</div>
