<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive" src="{{ 'assets/images/ban1.png' | theme }}" alt="">
            <h3 class="name title">Ban Chuyên môn</h3>
        </div>
        <div class="col-md-3">
            <img class="img-responsive" src="{{ 'assets/images/ban2.png' | theme }}" alt="">
            <h3 class="name title ">Ban Tổ chức</h3>
        </div>
        <div class="col-md-3">
            <img class="img-responsive" src="{{ 'assets/images/ban3.png' | theme }}" alt="">
            <h3 class="name title">Ban Đối ngoại</h3>
        </div>
        <div class="col-md-3">
            <img class="img-responsive" src="{{ 'assets/images/ban4.png' | theme }}" alt="">
            <h3 class="name title">Ban Truyền thông</h3>
        </div>
    </div>
    <div class="row intro-ban">
        <div class="col-md-6">
            <h3 class="name light">BAN CHUYÊN MÔN</h3>
            <p class="name light">
                    Được coi là cơ quan đầu não của CLB. Nhiệm vụ chính là phát triển những ý tưởng, nội dung chuyên môn thú vị, độc đáo, đang được sự quan tâm của các bạn trẻ, lên format ý tưởng cho từng sự kiện, phụ trách nội dung sinh hoạt chuyên môn cho các thành viên của CLB.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="name">BAN TỔ CHỨC</h3>
            <p class="name">
                Là bộ phận đông đảo với những con người linh hoạt, có đầu óc tổ chức, nguyên tắc, kỉ luật cao và luôn nhiệt tình, tận tâm đảm bảo sự thành công của mỗi sự kiện với nhiệm vụ chính : Lên kế hoạch cho tất cả các sự kiện lớn, nhỏ của CLB; Sắp xếp và hoàn thành các công tác chuẩn bị, chạy chương trình, ...
            </p>
        </div>
    </div>
    <div class="row intro-ban">
        <div class="col-md-6">
            <h3 class="name">BAN ĐỐI NGOẠI</h3>
            <p class="name">
                    Được ví như hình ảnh của CLB, tập trung của những con người có ngoại hình đẹp, tài ăn nói khéo léo. Ban đối ngoại có nhiệm vụ tham gia đàm phán với các đối tác, tìm kiếm và gặp gỡ, làm việc với các nhà tài trợ đồng hành với mỗi sự kiện của CLB.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="name light">BAN TRUYỀN THÔNG</h3>
            <p class="name light">
                    Là tiếng nói, là cầu nối giữa CLB với cộng đồng sinh viên, là nơi hội tụ của những con người có ý tưởng độc đáo, sáng tạo. 2 tiểu ban nội dung và kĩ thuật luôn kết hợp chặt chẽ giúp cho mỗi chương trình của IBC đều được giới thiệu sâu rộng đến các bạn sinh viên, giúp các bạn có được sự thông hiểu về mỗi sự kiện của CLB.
            </p>
        </div>
    </div>
</div>
