<h2 class="title text-center">TIMELINE</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6 text-right">
            <h4 class="date">28/08 - 11/09</h4>
            <h4>Vòng đơn</h4>
        </div>
        <div class="col-md-6 text-left">
            <h4>Sinh viên làm qua đơn đăng ký online tại đây.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-right">
            <h4 class="date">14/09</h4>
            <h4>Phỏng vấn ngắn</h4>
        </div>
        <div class="col-md-6 text-left">
            <h4>Là cơ hội để cùng IBCers chia sẻ và đặc biệt là thể hiện cá tính của mình qua vòng phỏng vấn ngắn 10-15 phút và phản biện theo nhóm thí sinh.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-right">
            <h4 class="date">16/09 - 22/09 </h4>
            <h4>Teamwork</h4>
        </div>
        <div class="col-md-6 text-left">
            <h4>10-12 nhóm <br>
                8-10 người/nhóm <br>
                Cùng nhau làm việc, lập kế hoạch thực hiện một đề án chuyên môn.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-right">
            <h4 class="date">24/09</h4>
            <h4> Phỏng vấn dài</h4>
        </div>
        <div class="col-md-6 text-left">
            <h4>Thể hiện kỹ năng chuyên môn sâu hơn và đòi hỏi xử lý nhanh các tình huống được đặt ra.</h4>
        </div>
    </div>
</div>
