<div class="about-us-bg">
</div>
<div class="container about-us-container">
    <div class="row">
        <div class="col-md-12 about-us-content">
            <h2>Về chúng tôi</h2>
            <p>CLB Kinh doanh Quốc tế trực thuộc Đoàn thanh niên Đại học Ngoại thương và được sự bảo trợ chuyên môn của Khoa Kinh tế và Kinh doanh Quốc tế.
Với slogan “Excellent Start - Excellent Career”, IBC luôn mong muốn là cầu nối giữa sinh viên và doanh nghiệp, giúp các bạn sinh viên có bước chuẩn bị thật vững vàng để tự tạo cho mình sự khởi đầu hoàn hảo cho một công việc hoàn mĩ.</p>
            <button class="ibc-btn">Read more</button>
        </div>
    </div>
</div>


