<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Các sự kiện</h2>
        </div>
    </div>
    <div class="row event-container">
        <a href="{{ 'unlock-supply-chain' | page }}">
            <div class="col-md-6 event-item">
                <div class="row">
                    <div class="col-md-6">
                        <img class="media-object" src="{{ 'assets/images/1.png' | theme }}" width="100%">
                    </div>
                    <div class="col-md-6">
                        <p>
                        workshop
                        <br>
                        unlock supply chain
                        </p>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ 'tuyen-thanh-vien' | page }}">
            <div class="col-md-6 event-item">
                <div class="row">
                    <div class="col-md-6">
                        <img class="media-object" src="{{ 'assets/images/2.png' | theme }}" width="100%">
                    </div>
                    <div class="col-md-6">
                        <p>tuyển thành viên</p>
                    </div>
                </div>
            </div>
        </a>
        <div class="col-md-6 event-item">
            <div class="row">
                <div class="col-md-6">
                    <img class="media-object" src="{{ 'assets/images/3.png' | theme }}" width="100%">
                </div>
                <div class="col-md-6">
                    <p>
                    tọa đàm
                    <br>
                    refine your business
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 event-item">
            <div class="row">
                <div class="col-md-6">
                    <img class="media-object" src="{{ 'assets/images/1.png' | theme }}" width="100%">
                </div>
                <div class="col-md-6">
                    <p>các sự kiện khác</p>
                </div>
            </div>
        </div>
    </div>
</div>
