<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <h2 class="text-center">Sứ mệnh</h2>
                <p>CLB Kinh Doanh Quốc Tế hoạt động với tiêu chí là một sân chơi trí tuệ dành cho những sinh viên đam mê kinh doanh quốc tế và trở thành cầu nối mang tính thực tiễn đưa các doanh nghiệp tiếp cận gần hơn với sinh viên kinh tế-đội ngũ thế hệ mới nhiệt huyết, được trang bị kĩ năng thiết yếu phục vụ cho công việc.</p>
                <p>Excellent start, Excellent Career - Sự khởi đầu hoàn hảo cho một sự nghiệp hoàn mĩ.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box right">
                <h2 class="text-center">Tầm nhìn</h2>
                <p>Trở thành câu lạc bộ hàng đầu trong khu vực về lĩnh vực kinh doanh quốc tế.</p>
                <p>Là đơn vị uy tín cung cấp kiến thức, kĩ năng nghiệp vụ và cơ hội trải nghiệm thực tiễn việc làm trong lĩnh vực Kinh doanh Quốc tế.</p>
                <p>Tạo môi trường hoạt động lý tưởng nhằm kết nối những sinh viên có niềm đam mê với Kinh doanh Quốc tế, là nơi định hình cá tính và truyền cảm hứng cho những ý tưởng phát triển trong tương lai.</p>
                <p>Trở thành đối tác tin cậy cho các doanh nghiệp có mong muốn tiếp cận nguồn nhân lực chất lượng cao.</p>
                <p>Làm cầu nối giữa các tổ chức, doanh nghiệp hoạt động trong cùng lĩnh vực.</p>
            </div>
        </div>
    </div>
</div>
