<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Cơ cấu tổ chức</h1>
            <p class="about-club">Câu lạc bộ Kinh doanh Quốc tế hoạt động với 4 ban chính : ban Chuyên môn, ban Tổ chức, ban Truyền thông, ban Đối ngoại</p>
            <div id="ttcm" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#ttcm" data-slide-to="0" class="active"></li>
                    <li data-target="#ttcm" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{ 'assets/images/struct.jpg' | theme }}" width="100%" class="img-responsive">
                            </div>
                            <div class="col-md-9">
                                <h2>ban chuyên môn</h2>
                                <p>Phụ trách mảng chuyên môn trong các kiện của Câu lạc bộ và lên ý tưởng tìm hướng  đi cho sự kiện chuyên ngành, nâng cao kiến thức chuyên môn cho toàn thể  Câu lạc bộ
Phụ trách liên lạc với thầy cô và các đơn vị bảo trợ chuyên môn</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{ 'assets/images/struct.jpg' | theme }}" width="100%" class="img-responsive">
                            </div>
                            <div class="col-md-9">
                                <h2>ban truyền thông</h2>
                                <p>Truyền thông đến  các đơn vị báo chí, doanh nghiệp và sinh viên các sự kiện của Câu lạc bộ. Đồng thời quảng bá rộng rãi hình ảnh của CLB IBC, văn hóa IBC đến tất cả đối tượng, trên mọi phương diện.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dntc" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#dntc" data-slide-to="0" class="active"></li>
                    <li data-target="#dntc" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-9">
                                <h2>ban đối ngoại</h2>
                                <p>Xây dựng mạng lưới quan hệ với đối tác của CLB, bao gồm các doanh nghiệp; các đơn vị bảo trợ, tài trợ;…Bên cạnh đó, Ban đối ngoại cũng sẽ là những người phụ trách tìm nguồn tài trợ cho các sự kiện của Câu lạc bộ.</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ 'assets/images/struct.jpg' | theme }}" width="100%" class="img-responsive">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-md-9">
                                <h2>ban tổ chức</h2>
                                <p>Tổ chức các sự kiện của Câu lạc bộ Kinh doanh Quốc tế IBC và kết nối các thành viên trong câu lạc bộ.</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ 'assets/images/struct.jpg' | theme }}" width="100%" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
