<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>nội dung workshop</h1>
            <div class="row row-content first">
                <div class="col-md-4">
                    <p class="day-left">Buổi 1</p>
                </div>
                <div class="col-md-8">
                    <p class="content-day-right">Tổng quan (Tập trung vào kiến thức & các khái niệm cơ bản)</p>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-md-8">
                    <p class="content-day-left">Lập kế hoạch mua hàng & Lựa chọn nhà cung cấp</p>
                </div>
                <div class="col-md-4">
                    <p class="day-right">Buổi 2</p>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-md-4">
                    <p class="day-left">Buổi 3</p>
                </div>
                <div class="col-md-8">
                    <p class="content-day-right">Tiến hành mua hàng - Hợp đồng mua hàng</p>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-md-8">
                    <p class="content-day-left">Quản lí & Đánh giá mua hàng</p>
                </div>
                <div class="col-md-4">
                    <p class="day-right">Buổi 4</p>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-md-4">
                    <p class="day-left">Buổi 5</p>
                </div>
                <div class="col-md-8">
                    <p class="content-day-right">Thực hành: Giải Case study doanh nghiệp</p>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-md-8">
                    <p class="content-day-left">Kiểm tra cuối khóa</p>
                </div>
                <div class="col-md-4">
                    <p class="day-right">Buổi 6</p>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-md-4">
                    <p class="day-left">Buổi 7</p>
                </div>
                <div class="col-md-8">
                    <p class="content-day-right">Tham quan doanh nghiệp</p>
                </div>
            </div>
        </div>
    </div>
</div>
