<div class="intro-bg">
</div>
<div class="container intro-container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 workshop">
                    <p>
                    workshop<br>
                    unlock<br>
                    supply chain<br>
                    2017
                    </p>
                </div>
                <div class="col-md-6 purchasing">
                    <p>
                    <span>Chủ đề: </span>
                    <br>
                    Purchasing
                    <br>
                    (Mua hàng)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>giới thiệu chung chuỗi workshop</h2>
            <div id="workshop-intro" class="carousel slide carol" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#workshop-intro" data-slide-to="0" class="active"></li>
                    <li data-target="#workshop-intro" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <p>Là chuỗi workshop thường niên ở mảng chuỗi cung ứng mà CLB Kinh doanh Quốc tế tổ chức nhằm cung cấp cho học viên những kiến thức cơ bản và kinh nghiệm thực tế cần thiết để áp dụng vào công việc.</p>
                    </div>

                    <div class="item">
                        <p>Là chuỗi workshop thường niên ở mảng chuỗi cung ứng mà CLB Kinh doanh Quốc tế tổ chức nhằm cung cấp cho học viên những kiến thức cơ bản và kinh nghiệm thực tế cần thiết để áp dụng vào công việc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
