<div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <h1>Quy mô</h1>
            <p>50 học viên</p>
        </div>
        <div class="col-md-4 middle text-center">
            <h1>Đối tượng</h1>
            <p>Sinh viên các trường đại học trong khối ngành kinh tế và kinh doanh trên địa bàn Hà Nội như: Đại học Ngoại Thương, Đại học Kinh tế quốc dân, Đại học Giao thông vận tải, Đại học Kinh Tế - ĐHQG,...</p>
        </div>
        <div class="col-md-4 text-center">
            <h1>Thời gian</h1>
            <p>
            18h00 đến 20h30
            <br>
Các ngày thứ 2 – 4 – 6 (15/03/2017 - 27/03/2017)</p>
        </div>
    </div>
</div>
