<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-right">diễn giả workshop 2017</h2>
            <div id="workshop-speaker" class="carousel slide carol" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#workshop-speaker" data-slide-to="0" class="active"></li>
                    <li data-target="#workshop-speaker" data-slide-to="1"></li>
                    <li data-target="#workshop-speaker" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="row vertical-align">
                            <div class="col-md-3">
                                <img src="{{ 'assets/images/dg1.jpg' | theme }}" class="img-responsive img-circle" width="100%">
                            </div>
                            <div class="col-md-9">
                                <div class="speaker-info">
                                    <div class="speaker-name">PGS.TS Trịnh Thị Thu Hương</div>
                                    <div class="speaker-more">Trưởng bộ môn Vận tải & Bảo hiểm</div>
                                    <div class="speaker-more">Phó khoa Kinh tế & KDQT - ĐH Ngoại thương Hà Nội</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row vertical-align">
                            <div class="col-md-9">
                                <div class="speaker-info text-right">
                                    <div class="speaker-name">Mrs. Mai Tuyết Minh</div>
                                    <div class="speaker-more">Purchasing Manager at JW Marriot Hotel HaNoi</div>
                                    <div class="speaker-more">Tập đoàn quản lý khách sạn hàng đầu thế giới.</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ 'assets/images/dg2.jpg' | theme }}" class="img-responsive img-circle" width="100%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row vertical-align">
                             <div class="col-md-3">
                                <img src="{{ 'assets/images/dg3.jpg' | theme }}" class="img-responsive img-circle" width="100%">
                            </div>
                            <div class="col-md-9">
                                <div class="speaker-info">
                                    <div class="speaker-name">Ms. Nguyễn Thị Hà</div>
                                    <div class="speaker-more">CEO JSC Tiến Đức</div>
                                    <div class="speaker-more">Từng làm Trưởng phòng mua hàng công ty Systech</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
