<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Mục tiêu của chương trình</h1>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#student">Với học viên</a></li>
                <li><a data-toggle="tab" href="#enterprise">Với doanh nghiệp</a></li>
            </ul>

            <div class="tab-content">
                <div id="student" class="tab-pane fade in active">
                    <p>Nắm được khái niệm chung về chuỗi cung ứng, quản trị chuỗi cung cứng;  những vị trí, cơ hội việc làm trong lĩnh vực quản trị chuỗi cung ứng hiện nay.</p>
                    <p>Hiểu rõ vai trò và trách nhiệm của mua hàng trong tổ chức và quan hệ của mua hàng với các hoạt động khác trong chuỗi cung ứng.</p>
                    <p>Trang bị kiến thức cơ bản về một số nghiệp vụ cốt lõi của hoạt động mua hàng, tạo cơ hội tiếp xúc các vấn đề thực tiễn; qua đó định hướng nghề nghiệp cho sinh viên.</p>
                    <p>Có nền tảng kiến thức cơ bản để đăng tuyển vào các vị trí công việc mua hàng ở doanh nghiệp, tham gia các chương trình đào tạo của các tập đoàn đa quốc gia hay học các khóa đào tạo chuyên sâu về Quản lý chuỗi cung ứng.</p>
                </div>
                <div id="enterprise" class="tab-pane fade">
                    <p>Tiếp cận gần hơn đối tượng sinh viên Kinh tế, quảng bá hình ảnh công ty.</p>
                    <p>Khảo sát và tìm kiếm nguồn nhân lực phù hợp cho các vị trí tuyển dụng.</p>
                    <p>Giao lưu gắn kết với cộng đồng sinh viên năng động, sáng tạo.</p>
                    <p>Nâng cao tính chuyên môn, uy tín và chất lượng thương hiệu.</p>
                </div>
            </div>
        </div>
    </div>
</div>
