<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-right">chủ đề workshop 2017</h1>
            <div id="workshop-topic" class="carousel slide carol" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#workshop-topic" data-slide-to="0" class="active"></li>
                    <li data-target="#workshop-topic" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <p>Lần này chúng tôi tập trung mang lại cho các bạn sinh viên những kiến thức về một mảng nghiệp vụ quan trọng trong lĩnh lực Quản trị chuỗi cung ứng đó là Mua hàng (Purchasing).</p>
                    </div>

                    <div class="item">
                        <p>Mua hàng là yếu tố đầu vào của chuỗi cung ứng, ảnh hưởng trực tiếp đến hậu quả của các hoạt động vận hành-sản xuất-kinh doanh của doanh nghiệp, ở tất cả các loại hình kinh doanh và bất kỳ quy mô nào. Hoạt động mua hàng trong chuỗi không chỉ đơn thuần là tìm nhà cung cấp và đặt mua một sản phẩm, mà còn bao gồm việc tính toán, dự báo, lập kế hoạch… Các doanh nghiệp Việt Nam hiện tại đang dần ý thức được tầm quan trọng cùa Quản trị chuỗi cung ứng và vai trò của hoạt động mua hàng.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
