<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <a href="#">
                        <img class="media-object" src="{{ 'assets/images/3.png' | theme }}" width="60%" align="middle">
                    </a>
                </div>
                <div class="col-md-8">
                    <h2>refine your business</h2>
                    <p>
                        Là tọa đàm chia sẻ, truyền cảm hứng cũng như cung cấp kiến thức và đưa các lĩnh vực, các vấn đề khác nhau trong ngành Kinh doanh Quốc tế từ những diễn giả có chuyên môn và kinh nghiệm dày dặn tới các bạn trẻ sinh viên.
                    </p>
                    <div class="text-right">
                        <a href=""><i>Read more</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
