<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="media-object" src="{{ 'assets/images/4.png' | theme }}" width="60%" align="middle">
                    </a>
                </div>
                <div class="col-md-7">
                    <h1>tuyển thành viên</h4>
                    <p>

                    </p>
                    <div class="text-right">
                        <a href=""><i>Read more</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
