<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <a href="#">
                        <img class="media-object" src="{{ 'assets/images/2a.png' | theme }}" width="60%" align="middle">
                    </a>
                </div>
                <div class="col-md-8">
                    <h2>tuyển thành viên</h2>
                    <p>

                    </p>
                    <div class="text-right">
                            <a href="{{ 'tuyen-thanh-vien' | page }}"><i>Read more</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
