<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <a href="{{ 'unlock-supply-chain' | page }}">
                        <img class="media-object" src="{{ 'assets/images/1.png' | theme }}" width="60%" align="middle">
                    </a>
                </div>
                <div class="col-md-8">
                    <h2>unlock supply chain</h2>
                    <p>
                        Là chuỗi workshop thường niên ở mảng chuỗi cung ứng mà CLB Kinh doanh Quốc tế tổ chức nhằm cung cấp cho học viên những kiến thức cơ bản và kinh nghiệm thực tế cần thiết để áp dụng vào công việc.
                    </p>
                    <div class="text-right">
                        <a href="{{ 'unlock-supply-chain' | page }}"><i>Read more</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
